repos:
- repo: https://github.com/asottile/seed-isort-config
  rev: v2.2.0
  hooks:
  - id: seed-isort-config
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.9.3
  hooks:
  - id: isort
    additional_dependencies: [toml]
- repo: https://github.com/ambv/black
  rev: 21.6b0
  hooks:
  - id: black
    language_version: python3.9
- repo: https://github.com/PyCQA/flake8
  rev: ''
  hooks:
  - id: flake8
    additional_dependencies: [flake8-docstrings]
